.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.nav a {
    font-family: 'MuseoSansCyrl';
    font-weight: 500;
    font-size: 14px;
    color: var(--dark);
    text-decoration: none;
    transition: all linear var(--time);
}
.nav a:hover {
    color: var(--blue);
}
.github {
    font-family: 'MuseoSansCyrl';
    font-weight: 500;
    font-size: 14px;
    color: var(--dark);
    text-align: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.github a {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    width: min-content;
    text-decoration: none;
    font-family: 'MuseoSansCyrl';
    font-weight: 500;
    font-size: 14px;
    color: var(--dark);
    transition: all linear var(--time);
}
.github a img {
    width: 50px;
    height: 50px;
}
.github a:hover {
    color: var(--blue);
}