.support .connection {
    width: 100%;
    max-width: 996px;
    background: var(--white);
    border-radius: 16px;
    margin: 0 auto 80px;
    box-shadow: 0 20px 60px 0 var(--dark-5);
    padding: 42px 16px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.support .connection .label {
    font-family: 'MuseoSansCyrl';
    font-size: 15px;
    font-weight: 700;
    color: var(--dark);
    margin-bottom: 17px;
}
.support .connection .title {
    font-family: 'MuseoSansCyrl';
    font-size: 30px;
    font-weight: 700;
    color: var(--dark);
}
.support .connection .buttons {
    display: flex;
    width: 100%;
    gap: 12px;
    justify-content: start;
    padding-top: 14px;
    flex-wrap: wrap;
}
.support .connection .buttons a {
    text-decoration: none;
    width: 46px;
    height: 46px;
    border-radius: 13.33px;
    background:var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear var(--time);
}
.support .connection .buttons a:hover {
    box-shadow: 0 0 10px 0 var(--green-50);
}
@media screen and (min-width: 576px) {
    .support .connection {
        border-radius: 40px;
    }
}
@media screen and (min-width: 768px) {
    .support .connection {
        padding: 42px 40px;
        flex-direction: row;
    }
    .support .connection .buttons {
        justify-content: end;
    }
}
@media screen and (min-width: 992px) {
    .support .connection .title {
        font-size: 40px;
    }
    .support .connection .buttons a {
        width: 56px;
        height: 56px;
    }
}