.support header {
    background: url('../../assets/img/support/header/telegram.svg') no-repeat 0 34%, url('../../assets/img/support/header/hand.svg') no-repeat calc(100% + 135px) 101%, var(--blue);
    border-radius: 16px;
    padding: 40px 16px 54px;
    margin-bottom: 82px;
}
.support header h1 {
    font-family: 'MuseoSansCyrl';
    font-size: 30px;
    font-weight: 900;
    color: var(--white);
    margin: 0 0 6px;
    text-align: center;
}
.support header .desc {
    font-family: 'MuseoSansCyrl';
    font-size: 15px;
    font-weight: 500;
    color: var(--white);
    text-align: center;
    width: 100%;
    max-width: 500px;
    line-height: 22px;
    margin: 0 auto 39px;
}
.support header .buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}
.support header .buttons .wrap {
    display: flex;
    gap: 8px;
}
.support header .buttons button {
    background: var(--white);
    border-radius: 5px;
    border: none;
    outline: none;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    font-family: 'MuseoSansCyrl';
    font-size: 14px;
    font-weight: 700;
    color: var(--dark);
    cursor: pointer;
    transition: all linear var(--time);
}
.support header .buttons button:hover {
    background: var(--white-50);
}
@media screen and (min-width: 576px) {
    .support header {
        background: url('../../assets/img/support/header/telegram.svg') no-repeat 0 34%, url('../../assets/img/support/header/hand.svg') no-repeat 100% 101%, var(--blue);
        border-radius: 40px;
    }
    .support header h1 {
        font-size: 40px;
    }
    .support header .desc {
        font-size: 16px;
    }
}
@media screen and (min-width: 768px) {
    .support header h1 {
        font-size: 60px;
    }
    .support header .desc {
        width: 60%;
        font-size: 17px;
    }
    .support header .buttons button {
        width: 160px;
        height: 48px;
        font-size: 15px;
        border-radius: 12px;
    }
}
@media screen and (min-width: 992px) {
    .support header .desc {
        width: 50%;
    }
}
@media screen and (min-width: 1200px) {
    .support header .desc {
        width: 40%;
        line-height: 23px;
    }
}