.slider {
    position: relative;
    width: 306px;
    margin: 0 auto;
}
.slider .slick-track {
    width: 4300px !important;
    padding: 15px 0;
}
.slider .slick-slide {
    width: 282px !important;
    margin: 0 12px;
    outline: none;
}
.slider .item {
    background: var(--white);
    border-radius: 16px;
    box-shadow: 0 0 30px 0 var(--black-5);
    padding: 16px 5px 16px 16px;
}
.slider .item .inner {
    display: flex;
    overflow: hidden;
    height: 128px;
}
.slider .item .title {
    font-family: 'MuseoSansCyrl';
    font-size: 20px;
    font-weight: 700;
    color: var(--dark);
    text-align: left;
    margin-bottom: 8px;
    padding: 0;
}
.slider .item .desc {
    font-family: 'MuseoSansCyrl';
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    color: var(--grey_2);
}
.slider .item img {
    position: relative;
    width: 87px;
    height: 89px;
}
.slider .item .title-img img {
    top: 18px;
    right: 3px;
}
.slider .item .title-desc {
    flex-direction: column;
}
.slider .item .title-desc-img img {
    top: 21px;
    right: 0;
}
/* slider buttons */
.slider .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    border: none;
    outline: none;
    transition: all linear var(--time);
    cursor: pointer;
    background: transparent;
}
.slider .slick-arrow:hover {
    opacity: 1;
}
.slider .slick-prev {
    left: -18px;
}
.slider .slick-prev:before {
    content: url('../../assets/img/support/faq/arrow-left.svg');
}
.slider .slick-next {
    right: -18px;
}
.slider .slick-next:before {
    content: url('../../assets/img/support/faq/arrow-right.svg');
}
@media screen and (min-width: 450px) {
    .slider .slick-arrow {
        background: var(--white);
        box-shadow: 0 1px 7px 0 var(--black-9);
    }
    .slider .slick-prev {
        left: -28px;
    }
    .slider .slick-next {
        right: -28px;
    }
}
@media screen and (min-width: 768px) {
    .slider {
        width: 612px;
    }
}
@media screen and (min-width: 1024px) {
    .slider {
        width: 918px;
    }
}
@media screen and (min-width: 1340px) {
    .slider {
        width: 1224px;
        left: -17px;
    }
}