.article {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
    min-width: 320px;
}
.article .title {
    font-family: 'MuseoSansCyrl';
    font-size: 21px;
    font-weight: 900;
    color: var(--dark);
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
}
.article .title img {
    cursor: pointer;
}
.article .text {
    font-family: 'MuseoSansCyrl';
    font-size: 15px;
    font-weight: 500;
    color: var(--dark);
    width: 100%;
    max-width: 690px;
    line-height: 21px;
    margin-bottom: 40px;
}
.article footer {
    margin-bottom: 80px;
}
.article footer .question {
    font-family: 'MuseoSansCyrl';
    font-size: 13px;
    font-weight: 700;
    color: var(--dark);
    margin-bottom: 17px;
}
.article footer .buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}
.article footer .buttons button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: all linear var(--time);
    border-radius: 5px;
}
.article footer .buttons .chat {
    background: var(--green);
    font-family: 'MuseoSansCyrl';
    font-size: 15px;
    font-weight: 700;
    color: var(--white);
    padding: 15px;
    width: 175px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}
.article footer .buttons .chat:hover {
    background: var(--green_2);
}
.article footer .buttons .call, .mail {
    width: 48px;
    height: 48px;
    background: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
}
.article footer .buttons .call:hover, .mail:hover {
    background: var(--grey_3);
}
@media screen and (min-width: 576px) {
    .article .title {
        font-size: 24px;
    }
    .article footer .buttons .chat {
        width: 224px;
    }
}
@media screen and (min-width: 768px) {
    .article footer .buttons button {
        border-radius: 12px;
    }
}